[submodule "oh-my-zsh"]
	path = plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-git-prompt"]
	path = plugins/zsh-git-prompt
	url = https://github.com/viman/zsh-git-prompt.git
[submodule "zsh-fuzzy-match"]
	path = plugins/zsh-fuzzy-match
	url = https://github.com/tarruda/zsh-fuzzy-match.git
