[submodule "oh-my-zsh"]
	path = oh-my-zsh/framework
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-git-prompt"]
	path = oh-my-zsh/custom/plugins/zsh-git-prompt
	url = https://github.com/viman/zsh-git-prompt.git
[submodule "zsh-fuzzy-match"]
	path = oh-my-zsh/custom/plugins/zsh-fuzzy-match
	url = https://github.com/tarruda/zsh-fuzzy-match.git
[submodule "plugins/oh-my-custom/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
